 h1, h2 {
		font-family: 'Source Sans Pro', sans-serif;
	}

	a {
		color: blue;
	}

	a:hover {
		opacity: 0.5;
		transition: 0.2s;
	}

	a:click {
		opacity: 1.0;
	}

	h1 {
		font-size: 3vw;
	}

	h2 {
		font-size: 2vw;
	}

	@keyframes fadeIn {
		from { opacity:0; }
		to {opacity: 1;}

	}


	font {
		font-family: courier;
		font-size: 1.5vw;
	}

	button {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1vw;

	}

	.fadein {
		animation-name: fadeIn;
		animation-duration: 7s;
	}

	.fadeinfast {
		animation-name: fadeIn;
		animation-duration: 3s;
	}

	.sourcecode {
		border: thin solid black;
		background-color: #eee;
		padding: 10px;
	}